/* line 8, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 19, ../sass/_reset.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 27, ../sass/_reset.scss */
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}

/* line 32, ../sass/_reset.scss */
body {
  background: #fff;
}

/* line 44, ../sass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

/* line 47, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 50, ../sass/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 54, ../sass/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 59, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 62, ../sass/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/* line 65, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 69, ../sass/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 72, ../sass/_reset.scss */
a img {
  border: 0;
}

@font-face {
  font-family: 'edf';
  src: url("../fonts/edf.eot");
  src: url("../fonts/edf.eot?#iefix") format("embedded-opentype"), url("../fonts/edf.svg#edf") format("svg"), url("../fonts/edf.woff") format("woff"), url("../fonts/edf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../sass/_fonts.scss */
[data-icon]:before {
  font-family: 'edf';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
/* line 28, ../sass/_fonts.scss */
.icon-home:before, .icon-info:before, .icon-folder:before, .icon-cart:before, .icon-mail:before, .icon-facebook:before, .icon-twitter:before, .icon-info-2:before {
  font-family: 'edf';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 36, ../sass/_fonts.scss */
.icon-home:before {
  content: "\e001";
}

/* line 39, ../sass/_fonts.scss */
.icon-info:before {
  content: "\e000";
}

/* line 42, ../sass/_fonts.scss */
.icon-folder:before {
  content: "\e002";
}

/* line 45, ../sass/_fonts.scss */
.icon-cart:before {
  content: "\e003";
}

/* line 48, ../sass/_fonts.scss */
.icon-mail:before {
  content: "\e004";
}

/* line 51, ../sass/_fonts.scss */
.icon-facebook:before {
  content: "\e005";
}

/* line 54, ../sass/_fonts.scss */
.icon-twitter:before {
  content: "\e006";
}

/* line 57, ../sass/_fonts.scss */
.icon-info-2:before {
  content: "\e007";
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
/* line 4, ../sass/_underscore.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 10, ../sass/_underscore.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 13, ../sass/_underscore.scss */
ul {
  list-style: disc;
}

/* line 16, ../sass/_underscore.scss */
ol {
  list-style: decimal;
}

/* line 20, ../sass/_underscore.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 24, ../sass/_underscore.scss */
dt {
  font-weight: bold;
}

/* line 27, ../sass/_underscore.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 30, ../sass/_underscore.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 34, ../sass/_underscore.scss */
figure {
  margin: 0;
}

/* line 37, ../sass/_underscore.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 41, ../sass/_underscore.scss */
th {
  font-weight: bold;
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
/* line 49, ../sass/_underscore.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 54, ../sass/_underscore.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 59, ../sass/_underscore.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
/* line 79, ../sass/_underscore.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

/* line 89, ../sass/_underscore.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
/* line 96, ../sass/_underscore.scss */
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
/* line 101, ../sass/_underscore.scss */
.widget select {
  max-width: 100%;
}

/* Search widget */
/* line 106, ../sass/_underscore.scss */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
/* line 118, ../sass/_underscore.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 122, ../sass/_underscore.scss */
.byline,
.updated {
  display: none;
}

/* line 126, ../sass/_underscore.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 131, ../sass/_underscore.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 134, ../sass/_underscore.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
/* line 143, ../sass/_underscore.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
/* line 150, ../sass/_underscore.scss */
.comment-content a {
  word-wrap: break-word;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 161, ../sass/_underscore.scss */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 165, ../sass/_underscore.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
/* line 174, ../sass/_underscore.scss */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* line 180, ../sass/_underscore.scss */
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 185, ../sass/_underscore.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}

/* line 190, ../sass/_underscore.scss */
.wp-caption-text {
  text-align: center;
}

/* line 193, ../sass/_underscore.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 196, ../sass/_underscore.scss */
.site-main .gallery {
  margin-bottom: 1.5em;
}

/* line 201, ../sass/_underscore.scss */
.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}

/* line 207, ../sass/_underscore.scss */
.site-main .gallery dd,
.site-main .gallery figcaption {
  margin: 0;
}

/* Make sure embeds and iframes fit their containers */
/* line 217, ../sass/_underscore.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/* line 1, ../sass/_grid.scss */
.grid {
  margin: 0 auto;
  max-width: 1130px;
}
/* line 5, ../sass/_grid.scss */
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/_grid.scss */
.grid.home-slides {
  max-width: 100%;
  padding: 2em 0;
  overflow: hidden;
}

/* line 21, ../sass/_grid.scss */
[class*='col-'] {
  float: left;
}
/* line 25, ../sass/_grid.scss */
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 32, ../sass/_grid.scss */
.col-2-3 {
  width: 66.66%;
}
@media (max-width: 768px) {
  /* line 32, ../sass/_grid.scss */
  .col-2-3 {
    float: none;
    width: 100%;
  }
}

/* line 40, ../sass/_grid.scss */
.col-1-3 {
  width: 33.33%;
}
@media (max-width: 768px) {
  /* line 40, ../sass/_grid.scss */
  .col-1-3 {
    float: none;
    width: 100%;
  }
}

/* line 50, ../sass/_grid.scss */
.col-1-2 {
  width: 50%;
}
@media (max-width: 560px) {
  /* line 50, ../sass/_grid.scss */
  .col-1-2 {
    float: none;
    width: 100%;
  }
}

/* line 58, ../sass/_grid.scss */
.col-1-4 {
  width: 25%;
}
@media (max-width: 560px) {
  /* line 58, ../sass/_grid.scss */
  .col-1-4 {
    float: none;
    width: 100%;
  }
}

/* line 66, ../sass/_grid.scss */
.col-1-8 {
  width: 12.5%;
  min-width: 100px;
}

/* line 72, ../sass/_grid.scss */
.module {
  padding: 20px;
}

/* Opt-in outside padding */
/* line 78, ../sass/_grid.scss */
.grid-pad {
  padding: 20px 0 20px 20px;
}
/* line 80, ../sass/_grid.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* line 1, ../sass/_global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_global.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 11, ../sass/_global.scss */
body {
  background-color: #fbfbfb;
}

/* line 15, ../sass/_global.scss */
body, html {
  height: 100%;
}

/* =Global
----------------------------------------------- */
/* Text elements */
/* line 25, ../sass/_global.scss */
p {
  margin-bottom: 1.5em;
}

/* line 28, ../sass/_global.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 31, ../sass/_global.scss */
ul {
  list-style: disc;
}

/* line 34, ../sass/_global.scss */
ol {
  list-style: decimal;
}

/* line 38, ../sass/_global.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 42, ../sass/_global.scss */
dt {
  font-weight: bold;
}

/* line 45, ../sass/_global.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 49, ../sass/_global.scss */
b, strong {
  font-weight: bold;
}

/* Text meant only for screen readers */
/* line 58, ../sass/_global.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 65, ../sass/_global.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* line 86, ../sass/_global.scss */
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/* line 93, ../sass/_global.scss */
.arrow {
  position: relative;
  margin-bottom: -35px;
}
/* line 97, ../sass/_global.scss */
.arrow:nth-child(1) {
  z-index: 10;
}
/* line 101, ../sass/_global.scss */
.arrow:nth-child(2) {
  z-index: 9;
}
/* line 105, ../sass/_global.scss */
.arrow:nth-child(3) {
  z-index: 8;
}
/* line 109, ../sass/_global.scss */
.arrow:nth-child(4) {
  z-index: 7;
}
/* line 113, ../sass/_global.scss */
.arrow:nth-child(5) {
  z-index: 6;
}
/* line 117, ../sass/_global.scss */
.arrow:nth-child(6) {
  z-index: 5;
}
/* line 121, ../sass/_global.scss */
.arrow:nth-child(7) {
  z-index: 4;
}
/* line 125, ../sass/_global.scss */
.arrow:nth-child(8) {
  z-index: 3;
}

/* line 1, ../sass/_layout.scss */
.full {
  position: relative;
}

/* line 5, ../sass/_layout.scss */
.row {
  position: relative;
  z-index: 2;
}

/* line 10, ../sass/_layout.scss */
.head {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  background-color: #445144;
}

/* line 1, ../sass/_header.scss */
.branding {
  margin-top: 3em;
  position: relative;
}
/* line 5, ../sass/_header.scss */
.branding .grid {
  padding: 1em 2em;
  position: relative;
  z-index: 2;
}

/* line 12, ../sass/_header.scss */
.logo {
  margin-top: .7em;
  width: 80%;
}

/* =Striping
----------------------------------------------- */
/* =Diagonal Striping
----------------------------------------------- */
/* line 7, ../sass/home_sections.scss */
.diagonal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

/* line 19, ../sass/home_sections.scss */
.diagonal img {
  position: absolute;
  width: 9000px;
}

/* line 26, ../sass/home_sections.scss */
.stripes {
  width: 100%;
  height: 646px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

/* line 38, ../sass/home_sections.scss */
.stripes img {
  position: absolute;
  width: 9000px;
}

/* line 54, ../sass/home_sections.scss */
.row.home_2 {
  background-color: #cedbe2;
  padding-bottom: 35px;
}
/* line 61, ../sass/home_sections.scss */
.row.home_3 {
  background-color: #ece5ca;
}

/* =chunks
----------------------------------------------- */
/* line 76, ../sass/home_sections.scss */
.row .home-chunks {
  padding: 4em;
}
/* line 79, ../sass/home_sections.scss */
.row .home-chunks.home-text {
  padding: 4em 10em;
}
/* line 84, ../sass/home_sections.scss */
.row h2 {
  text-align: center;
  padding-bottom: 1em;
}
/* line 88, ../sass/home_sections.scss */
.row h3 {
  text-align: center;
  color: #e27826;
}
/* line 93, ../sass/home_sections.scss */
.row p {
  text-align: center;
}

/* line 100, ../sass/home_sections.scss */
.arrow-down {
  position: absolute;
  left: 48%;
  top: 0;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #9ebac7;
}

/* line 112, ../sass/home_sections.scss */
.arrow {
  position: relative;
  margin-bottom: -35px;
}

/* line 118, ../sass/home_sections.scss */
#intro {
  min-height: 100%;
  background: url(../images/_MG_5645.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1130px) {
  /* line 118, ../sass/home_sections.scss */
  #intro {
    min-height: 839px;
  }
}

/* line 129, ../sass/home_sections.scss */
#seaside {
  min-height: 100%;
  background: url(../images/_MG_5993.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 1130px) {
  /* line 129, ../sass/home_sections.scss */
  #seaside {
    min-height: 839px;
  }
}

/* line 140, ../sass/home_sections.scss */
#colophon {
  background: url(../images/_MG_5608.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 500px;
}

/* h1.main-intro
----------------------------------------------- */
/* line 153, ../sass/home_sections.scss */
h1.main-intro {
  text-align: center;
  padding: 3em 2em;
  color: #fbfbfb;
  font-size: 2.5em;
  font-family: "Proxima N W15 Smbd", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 0;
}
/* line 161, ../sass/home_sections.scss */
h1.main-intro .high {
  color: #fbfbfb;
}

/* line 1, ../sass/slides.scss */
.slides {
  width: 100%;
}
/* line 4, ../sass/slides.scss */
.slides img {
  padding: .5em;
}

/* -----------------------------------------
   Typography Styles
----------------------------------------- */
/* line 9, ../sass/_typography.scss */
html,
body,
button,
input,
select,
textarea {
  font-family: "Proxima N W15 Reg", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

/* Links */
/* line 20, ../sass/_typography.scss */
a {
  color: royalblue;
}

/* line 23, ../sass/_typography.scss */
a:visited {
  color: royalblue;
}

/* line 31, ../sass/_typography.scss */
.no-touch a:hover,
.no-touch a:focus,
.no-touch a:active {
  color: red;
}

/* line 39, ../sass/_typography.scss */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 44, ../sass/_typography.scss */
a.active {
  color: red;
}

/* heaadings */
/* line 52, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Proxima N W15 Reg", sans-serif;
  line-height: 1.5em;
}

/* line 58, ../sass/_typography.scss */
h1 {
  font-size: 4em;
}

/* line 61, ../sass/_typography.scss */
h2 {
  font-size: 2.5em;
}

/* line 65, ../sass/_typography.scss */
h3 {
  font-size: 1.3em;
}

/* line 69, ../sass/_typography.scss */
h4 {
  font-size: 1.2em;
}

/* Text meant only for screen readers */
/* line 75, ../sass/_typography.scss */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* H2 TAGLINES */
/* line 85, ../sass/_typography.scss */
h1.intro {
  color: #5e8ca1;
  font-size: 1.5em;
  text-align: right;
  padding-left: 20px;
  margin-top: 2.2em;
  line-height: 1em;
}

/* line 95, ../sass/_typography.scss */
.high {
  color: #445144;
}

/* H2 TAGLINES FOR DIRECTORY */
/* line 101, ../sass/_typography.scss */
.dir_hd_wrap {
  width: 100%;
}

/* line 105, ../sass/_typography.scss */
.dir_hd {
  width: 70%;
  float: left;
}

/* line 109, ../sass/_typography.scss */
.dir_search {
  width: 30%;
  float: left;
}

/* line 114, ../sass/_typography.scss */
h2.dir-intro {
  color: #5e8ca1;
  padding: 30px 0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  font-size: 37px;
}

/* -----------------------------------------
   Navigation Styles
----------------------------------------- */
/* line 6, ../sass/_nav.scss */
.nav {
  list-style: none;
  margin-left: 0;
}
/* line 16, ../sass/_nav.scss */
.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-decoration: none;
}
/* line 21, ../sass/_nav.scss */
.nav > li :hover,
.nav > li > a :hover {
  text-decoration: none;
}

/* from underscores style.css = Menu
----------------------------------------------- */
/* Small menu */
/* from underscores style.css = Navigation
----------------------------------------------- */
/* -----------------------------------------
   Navigation Styles
----------------------------------------- */
/* line 150, ../sass/_nav.scss */
nav[role="navigation"] ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 90%;
  float: right;
}
/* line 157, ../sass/_nav.scss */
nav[role="navigation"] ul li {
  float: left;
  margin: 0 0 0 0;
  padding: 0 4%;
  width: 20%;
}
/* line 169, ../sass/_nav.scss */
nav[role="navigation"] ul li a {
  float: left;
  padding: 1em;
  font-weight: normal;
  font-size: .85em;
  color: #F6F6F6;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 179, ../sass/_nav.scss */
nav[role="navigation"] ul li a:hover, nav[role="navigation"] ul li a.active {
  color: #e27826;
  text-decoration: none;
}
/* line 184, ../sass/_nav.scss */
nav[role="navigation"] ul .navTitle {
  padding-left: 1em;
}
/* line 188, ../sass/_nav.scss */
nav[role="navigation"] ul .icon {
  display: none;
}
/* line 192, ../sass/_nav.scss */
nav[role="navigation"] ul .page2 li a:hover, nav[role="navigation"] ul .page2 li a.active {
  color: #E27826;
}
/* line 196, ../sass/_nav.scss */
nav[role="navigation"] ul .page3 li a:hover, nav[role="navigation"] ul .page3 li a.active {
  color: #707B5D;
}
/* line 203, ../sass/_nav.scss */
nav[role="navigation"] ul li a span {
  padding-right: 6px;
}
/* line 216, ../sass/_nav.scss */
nav[role="navigation"] ul li:last-child a {
  margin-right: 0;
  padding-right: 0;
}

/* Small menu */
/* line 230, ../sass/_nav.scss */
.menu-toggle {
  cursor: pointer;
}

/* line 233, ../sass/_nav.scss */
.main-small-navigation .menu {
  display: none;
}

/* line 237, ../sass/_nav.scss */
ul.topNav {
  margin-bottom: 0;
}

/* Sticky Nav */
/* line 251, ../sass/_nav.scss */
#site-navigation.fixed {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #999999;
  z-index: 99999;
  border-bottom: 1px solid #fbfbfb;
}
/* line 260, ../sass/_nav.scss */
#site-navigation.fixed .menu-toggle {
  height: 40px;
}
/* line 265, ../sass/_nav.scss */
#site-navigation.fixed ul {
  margin: 0 auto;
  width: 100%;
  max-width: 1130px;
}
@media (max-width: 1130px) {
  /* line 265, ../sass/_nav.scss */
  #site-navigation.fixed ul {
    width: 94%;
    margin: 0 auto;
  }
}
/* line 280, ../sass/_nav.scss */
#site-navigation.fixed .menu-toggle {
  padding-left: 3%;
}

/* line 289, ../sass/_nav.scss */
#content.fixed-state {
  margin-top: 40px;
}

/* line 308, ../sass/_nav.scss */
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 314, ../sass/_nav.scss */
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

/* line 320, ../sass/_nav.scss */
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* clear floats */
/* line 2, ../sass/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 3, ../sass/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 4, ../sass/_helpers.scss */
.clearfix {
  zoom: 1;
}

/* line 6, ../sass/_helpers.scss */
.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 7, ../sass/_helpers.scss */
.group {
  display: inline-block;
  clear: both;
}

/* start commented backslash hack \*/
/* line 8, ../sass/_helpers.scss */
* html .group {
  height: 1%;
}

/* line 8, ../sass/_helpers.scss */
.group {
  display: block;
}

/* close commented backslash hack */
/* line 13, ../sass/_helpers.scss */
.clear {
  clear: both;
}

/* line 18, ../sass/_helpers.scss */
.cf, .nav {
  zoom: 1;
}
/* line 22, ../sass/_helpers.scss */
.cf:before, .nav:before, .cf:after, .nav:after {
  content: " ";
  display: table;
}
/* line 27, ../sass/_helpers.scss */
.cf:after, .nav:after {
  clear: both;
}
