* {
  @include box-sizing(border-box);
}


img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

body {
	background-color: $off_white;
}

body, html {
	height: 100%;
}


/* =Global
----------------------------------------------- */


/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}

b, strong {
	font-weight: bold;
}





/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}



#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
}


.arrow {
    position: relative;
    margin-bottom: -35px;
    
		&:nth-child(1) {
		    z-index: 10;

		}

		&:nth-child(2) {
		    z-index: 9;

		}

		&:nth-child(3) {
		    z-index: 8;

		}

		&:nth-child(4) {
		    z-index: 7;

		}

		&:nth-child(5) {
		    z-index: 6;

		}

		&:nth-child(6) {
		    z-index: 5;

		}

		&:nth-child(7) {
		    z-index: 4;

		}

		&:nth-child(8) {
		    z-index: 3;

		}

}


// .headroom--pinned {
//     display: block;
// }
// .headroom--unpinned {
//     display: none;
// }


.headroom {
    // transition: transform 200ms linear;
	@include transition-property(transform);
	@include transition-duration(200ms);
	@include transition-timing-function(linear);    
}
.headroom--pinned {
    // transform: translateY(0%);
    @include transform(translateY(0%));
}
.headroom--unpinned {
    // transform: translateY(-100%);
    @include transform(translateY(-100%));

}



